body {
  margin: 0;
  font: 300 20px/1.5 Roboto, arial, sans-serif;
  background-color: #333b44;
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
  overflow-x: hidden;
}

h1, h2 {
  font-family: Ubuntu, Roboto, arial, sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
}

svg {
  display: block;
}

section {
  width: 100%;
  position: relative;
}

#intro {
  height: 100vh;
  color: rgba(0, 0, 0, 0.75);
}
#intro svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#intro header {
  max-width: 80%;
  padding: 0 10%;
  margin: 0;
  position: absolute;
  right: 0;
  top: 40vh;
  transform: translateY(-50%);
}
#intro p {
  font-size: 2rem;
  text-align: right;
  padding: 0 10%;
  margin: 0;
}

#options {
  background: linear-gradient(to bottom, #60c2ee, #284998 60%);
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 72px;
}
#options::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, rgba(46, 19, 131, 0.5), transparent);
  opacity: calc(2.5 * var(--time) - 1.2);
  z-index: 1;
}

.option {
  width: 80%;
  max-width: 1200px;
  margin: 72px auto;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto;
  position: relative;
  z-index: 2;
}
.option svg {
  grid-area: svg;
  align-self: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  opacity: 0.8;
}
.option h2 {
  grid-area: h1;
  align-self: end;
}
.option p {
  margin: 0;
  padding: 0;
  grid-area: p;
}
.option:nth-of-type(2n - 1) {
  margin-top: 96px;
  grid-template-columns: 480px auto;
  grid-template-areas: "svg h1" "svg p";
}
.option:nth-of-type(2n) {
  grid-template-columns: auto 480px;
  grid-template-areas: "h1 svg" "p svg";
}
.option:nth-of-type(2n) h2 {
  text-align: right;
}
.option:first-of-type {
  margin-top: 0;
}
.option:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 1000px) {
  .option {
    display: block;
  }
  .option h2, .option:nth-of-type(2n) h2 {
    margin: 36px auto 0;
    text-align: center;
  }
  .option p {
    max-width: 700px;
    margin: 1em auto;
  }
  .option svg {
    width: 90%;
    height: auto;
    max-height: 300px;
    margin: 0 auto;
  }
}

#cave-entrance {
  --size: 0;
  z-index: 2;
  min-height: auto;
  padding-bottom: 37.5%;
  background-color: #333b44;
  transition: background-color 0s 0s;
  margin-bottom: 6.25vw;
}
#cave-entrance svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(calc(var(--size) * -50vw));
  height: calc(var(--size) * 200vh + (1 - var(--size)) * 37.5vw);
  overflow: visible;
  transition: 0.2s cubic-bezier(0.2, 0.8, 0.5, 1);
}
#cave-entrance::before {
  content: "";
  width: 100%;
  height: calc((1 - var(--size)) * 85%);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #284998;
  transition: 0.2s cubic-bezier(0.2, 0.8, 0.5, 1);
}

#cave-entrance ~ section {
  z-index: 2;
}

#this-is-me {
  width: 80%;
  max-width: 1200px;
  margin: -108px auto 72px;
  padding: 72px 0;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "svg h1" "svg p";
  position: relative;
}
#this-is-me svg {
  grid-area: svg;
  align-self: center;
  padding-right: 1em;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  max-width: 600px;
  opacity: 0.8;
}
#this-is-me h1 {
  grid-area: h1;
  align-self: end;
  font-size: 6rem;
  margin: 0;
}
#this-is-me p {
  margin: 0;
  padding: 0;
  grid-area: p;
}

#wall-of-fame h1 {
  text-align: center;
}
#wall-of-fame ul {
  max-width: 1200px;
  width: 80%;
  margin: 108px auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
  grid-template-areas: "p1 p1 p1 sq .  .  .  .  .  p3 p3 p3 ." "p1 p1 p1 .  p2 p2 p2 .  .  p3 p3 p3 ." "p1 p1 p1 .  p2 p2 p2 .  .  p3 p3 p3 ." ".  .  .  .  p2 p2 p2 .  .  .  .  .  ." ".  .  .  .  p2 p2 p2 .  p4 p4 .  .  ." ".  .  .  .  p2 p2 p2 .  p4 p4 .  .  ." ".  .  .  .  .  .  .  .  p4 p4 .  .  ." ".  .  .  p5 p5 p5 .  .  .  .  .  .  ." ".  .  .  p5 p5 p5 .  p6 p6 p6 .  .  ." "p7 p7 .  p5 p5 p5 .  p6 p6 p6 .  p8 p8" "p7 p7 .  .  .  .  .  p6 p6 p6 .  p8 p8" "p7 p7 .  .  .  .  .  p6 p6 p6 .  p8 p8" ".  .  .  .  .  .  .  p6 p6 p6 .  .  .";
}
#wall-of-fame ul::after {
  grid-area: sq;
  content: "";
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
#wall-of-fame li:nth-child(1) {
  grid-area: p1;
}
#wall-of-fame li:nth-child(2) {
  grid-area: p2;
}
#wall-of-fame li:nth-child(3) {
  grid-area: p3;
}
#wall-of-fame li:nth-child(4) {
  grid-area: p4;
}
#wall-of-fame li:nth-child(5) {
  grid-area: p5;
}
#wall-of-fame li:nth-child(6) {
  grid-area: p6;
}
#wall-of-fame li:nth-child(7) {
  grid-area: p7;
}
#wall-of-fame li:nth-child(8) {
  grid-area: p8;
}
#wall-of-fame li {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  filter: grayscale(0.5);
  opacity: 0.6;
}
#wall-of-fame li:hover {
  transform: scale(1.2);
  filter: grayscale(0);
  opacity: 1;
}
#wall-of-fame li svg {
  width: 100%;
  height: 100%;
}
#wall-of-fame li h2, #wall-of-fame li p {
  display: none;
}

/*# sourceMappingURL=design.css.map */
